<ion-content padding class="login-container">
    <ion-img width="100%" height="25%" src="../../../assets/img/teamsLoginPage.png"></ion-img>
   
        <ion-button block
                color="secondary"
                class="ftb-splash-btn-inline"
                (click)="goToLogin()">
          <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
          Log in
        </ion-button>
        <ion-button block
                 color="secondary"
                 class="ftb-splash-btn-inline"
                 (click)="goToSignUp()">
            <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
          Sign Up
        </ion-button>
  
      <p>
        <ion-button color="facebook" block>
          Log in with Facebook
        </ion-button>
        <ion-button block ion-button color="google" (click)="signInGoogle()">
  
          Log in with Google
      </ion-button>
      </p>
  
  
  </ion-content>
  