<ftb-header [headerTitle]="pageTitle" [backBtn]="true"></ftb-header>
<ion-content padding >
  <form  class="ftb-login-form" [formGroup]="signupForm" >
        <ion-item [class.ftb-invalid-form]="emailInvalid">
            <ion-label position="floating">
                Email
            </ion-label>
            <ion-input type="email"
                       name="email"
                       formControlName="email"
                       ></ion-input> 
        </ion-item>
        <ion-item [class.ftb-invalid-form]="emailInvalid">
          <ion-label position="floating">
              Name
          </ion-label>
          <ion-input type="text"
                     name="name"
                     formControlName="name"
                     ></ion-input>
      </ion-item>
        <ion-item  [class.ftb-invalid-form]="passInvalid" >
            <ion-label position="floating" >
                Password
            </ion-label>
            <ion-input type="password"
                       name="password"
                       formControlName="password"
                       ></ion-input>
        </ion-item>
        <ion-item  [class.ftb-invalid-form]="passInvalid" >
          <ion-label position="floating" >
             Confirm Password
          </ion-label>
          <ion-input type="password"
                     name="confirmPassword"
                     formControlName="confirmPassword"
                     ></ion-input>
        </ion-item>

    </form>
    <ion-button color="balanced" block class="ftb-login-buttom" (click)="signUp()">
        Sign Up
    </ion-button>

</ion-content>
