@import '../../../theme/variables.scss';
.ftb-login-content{
     height: 100%;
}
.ftb-login-form{
    margin-bottom: 20px;
    margin-top: 50px;
}
.ftb-login-buttom{
    border-radius: 10px;
    margin-top: 10px;
    .ftb-icon-login-buttom{
        margin-right: 10px;
    }
}
.ftb-invalid-form{
   color:$errorForm;
}